<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="FlightsShowDB"
    connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=DAL.FlightsShowDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
    providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>